{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="bg-light">

    <section class="bg-light py-5 text-black">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="lead"><i class="bx bx-cog"></i>Uh Oh, the data seeems to be incomplete for this page to be generated. Navigate back to the home page or please contact me at shara.sadheesh@gmail.com for further information.</p>
                </div>
            </div>
            <hr class="solid">
        </div>
    </section>


</body>
{% endblock %}