{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="bg-light">

    <section class="bg-light py-5 text-black">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
             
                    <p class="lead"><i class="bx bx-cog"></i>This page does not exist. The link may be broken, or the page may have been removed. Check to see if the link you're trying to open is correct.</p>
                </div>
            </div>
            <hr class="solid">
        </div>
    </section>


</body>
{% endblock %}