{% extends 'base.html' %}
{% load static %}
{% block content %}


  <section id="dashboard" class="bg-light py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
    

          <table class="table">
            <thead>
              <tr>
                
                <th scope="col">Ranking</th>
                <th scope="col">Team</th>
                <th scope="col">Points</th>
             
              </tr>
            
  
            <tbody>
              {% for key,value in team_points.items %}
              <tr>
            
                
                <td>
                  
                </td>

              
                <td>{{ key }}</td>
                <td>  
                  {{ value }}
                </td>
       

              </tr>
              {% endfor %}
              </thead>
            </tbody>
  
          </table>
  
    
        </div>
      </div>
    </div>
  
  </section>



{% endblock %}