

    {% for i in basket %}
    <tr>

      <td>
        {{ forloop.counter }}

      </td>

      <td>{{ i.file.id }}</td>

      <td>
        {{ i.team_name_1 }}
      </td>
      <td>
        {{ i.team_score_1 }}
      </td>
      <td>
        {{ i.team_name_2 }}
      </td>
      <td>
        {{ i.team_score_2 }}
      </td>
      

      <td>
        <button class="btn btn-secondary btn-sm" hx-get="{% url 'edit_data' pk=i.id %}" hx-target="#dialog">Edit</button>
      </td>




    </tr>
    {% endfor %}
    </thead>
  </tbody>