<!--Delete Modal-->

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true"
  data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- head -->
      <div class="modal-header align-items-center">
        <h5 class="text-dark text-center w-100 m-0" id="exampleModalLabel">
          Delete Team Score
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <!-- body -->
      <div class="modal-body">
        <div class="my-1 p-1">
          <div class="d-flex flex-column">



            <p>Are you sure about deleting this?</p>
          </div>
        </div>
      </div>
      <!-- footer -->
      <div class="modal-footer">
        <form action="#" method="post" enctype="multipart/form-data" id="delete_file_href">
          {% csrf_token %}
          <button type="submit" class="btn btn-block btn-primary w-100">
            Delete Data
          </button>
        </form>

      </div>
    </div>


  </div>
</div>
</div>

</div>
